# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
.Python

# Virtual Environment
.venv/
env/
venv/
ENV/

# Documentation
docs/index.html

# Data files
Analitica/ciencia_datos_con_python/notebooks-teoria/*.csv
Analitica/ciencia_datos_con_python/notebooks-teoria/*.xlsx
Analitica/ciencia_datos_con_python/notebooks-teoria/*.parquet
Analitica/ciencia_datos_con_python/tareas/datos/linkedin_job_postings.csv
Analitica/proyectos/titanic/modelos/titanic_classification-random_forest-v1.joblib
Analitica/proyectos/titanic/notebooks/.env
CLAUDE.md
